// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=PT+Sans+Caption:wght@700&family=Raleway:wght@400;500&display=swap');

// Define fonts for body and headers
$body-font: "Raleway", "sans-serif";
$body-font: "Merriweather", "serif";
$headers-font: "Raleway", "PT Sans Caption", "sans-serif";

// font-family: 'Merriweather', serif;
// font-family: 'PT Sans Caption', sans-serif;
// font-family: 'Raleway', sans-serif;


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
