// Specific CSS for your home-page
.how {
  text-align: center;
  margin-top: 50px;


}

.start-btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(107, 107, 203);
  border: none;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

a{
  text-decoration: none;
}
