<div class="header p-3">
    <div class="header-content d-flex flex-column">
      <div class="row">
        <div class="col-5" >
             <i class="fa-solid fa-user pe-2"></i><span>Musician</span>
          </div>
          <div class="col-3">
            <i class="fa-solid fa-music pe-2"></i><span>Instrument</span>
          </div>
          <div class="col-4">
            <i class="fa-solid fa-circle-exclamation pe-2"></i><span>Requirements</span>
          </div>
        </div>
    </div>

    <div class="header-actions">

      <a href=""></a>
      <a href=""></i></a>

    </div>
  </div>

<% @musicians.each do |musician| %>
  <div class="notification p-3">
    <div class="notification-content d-flex flex-column">
      <div class="row">
        <div class="col-5" >
            <h5 style= "margin: 0"><%= musician.name %> </h5>
          </div>
          <div class="col-3">
            <p><%= musician.instrument %></p>
          </div>
          <div class="col-4">
            <%musician.requirements.each do |requirement| %>
            <p><%= requirement.name %></p>
            <% end %>
          </div>
        </div>
    </div>

    <div class="notification-actions">

      <a href="#"> <i class="fas fa-pencil-alt"></i></a>

      <%= link_to musician_path(musician), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
         <i class="far fa-trash-alt"></i>
      <% end %>
    </div>
  </div>
 <% end %>
