<div class="header p-3">
    <div class="header-content d-flex flex-column">
      <div class="row">
        <div class="col-4" >
            <i class="fa-solid fa-user pe-2"></i><span>Musician</span>
          </div>
          <div class="col-4">
            <i class="fa-solid fa-music pe-2"></i><span>Instrument</span>
          </div>
          <div class="col-4">
            <i class="fa-solid fa-circle-exclamation pe-2"></i><span>Requirements</span>
          </div>
        </div>
    </div>

    <div class="header-actions">

      <a href=""></a>
      <a href=""></i></a>

    </div>
  </div>

<% musicians.each do |musician| %>

  <%= render "musician_row", musician: musician %>

<% end %>
