

  <div class="notification">
    <div class="notification-content d-flex flex-column">
      <div class="row">
        <div class="col-4" >
          <h5 style= "margin: 0"> Andria Chang</h5>
        </div>
        <div class="col-4">
          <p>Violin</p>
        </div>
        <div class="col-4">
          <p>Wheelchair</p>
        </div>
      </div>
    </div>

    <div class="notification-actions">
      <a href="#"> <i class="fas fa-pencil-alt"></i></a>
      <a href="#"> <i class="far fa-trash-alt"></i></a>
    </div>
  </div>
