<div class="container bg-white p-4 border">
  <%= simple_form_for([@festival, @musician]) do |f| %>
    <%= f.input :name %>
    <%= f.input :instrument %>
    <%= f.submit "Add", class: "btn btn-success" %>
  <% end %>
</div>
