<div class="container bg-white p-4 border">
  <%= simple_form_for([@festival, @group]) do |f| %>
    <%= f.input :name %>
    <%= f.association :musicians, as: :check_boxes %>
    <%= f.submit %>
  <% end %>


</div>
