<div class="container infos-container">

  <div class="row">

    <div class="col-12 col-lg-8">
      <%# RENDER CONTENT PARTIAL  HERE! %>
      <%= render "content" %>
    </div>

    <div id="form" class="col-12 col-lg-4">
      <%# RENDER FORM PARTIAL  HERE! %>
      <%= render "form" %>
    </div>

  </div>
</div>
