

<div class="container infos-container d-flex justify-content-center">
  <%= link_to new_festival_schedule_path do %>
    <button class = "btn btn-success p-3">Create Schedule</button>
  <% end %>
</div>





<div class="container mt-5 schedule-card">
  <h4>Rehearsal Schedule for <%= @festival.name %> </h4>
    <div class="table-responsive mt-3 ">
        <table class="table table-bordered text-center">
            <thead>
                <tr >
                    <th class="text-uppercase header-row">Time</th>
                    <th class="text-uppercase header-row">Monday</th>
                    <th class="text-uppercase header-row">Tuesday</th>
                    <th class="text-uppercase header-row">Wednesday</th>
                    <th class="text-uppercase header-row">Thursday</th>
                    <th class="text-uppercase header-row">Friday</th>
                    <th class="text-uppercase header-row">Saturday</th>
                </tr>
            </thead>

<!--COLORS: class="bg- lightred, yellow, green, pink, yellow, sky, purple-->
            <tbody>
                <!--1st Timeslot-->
                <tr>
                    <td class="align-middle header-column">10:00 am-<div>11:30 am</div></td>
                    <!--Day 1-->
                    <td class="cell text-start">
                      <div>
                        <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Dance</span>
                        <span class="margin-10px-top font-size14"> -> Room A</span>
                      </div>
                      <br>
                      <div>
                        <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Yoga</span>
                        <span class="margin-10px-top font-size14"> -> Room B</span>
                      </div>
                    </td>

                    <!--Day 2-->
                    <td class="cell text-start">
                      <div>
                        <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Music</span>
                        <span class="margin-10px-top font-size14"> -> Room C</span>
                      </div>
                      <br>
                      <div>
                        <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Art</span>
                        <span class="margin-10px-top font-size14"> -> Room D</span>
                      </div>
                    </td>

                    <!--Day 3-->
                    <td class="cell text-start">
                        <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>

                    </td>

                    <!--Day 4-->
                    <td class="cell text-start">
                        <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Dance</span>

                    </td>

                    <!--Day 5-->
                    <td class="cell text-start">
                        <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Art</span>

                    </td>

                    <!--Day 6-->
                    <td class="cell text-start">

                    </td>
                </tr>

                 <!--2nd Timeslot-->
                <tr>
                    <td class="align-middle header-column ">11:30 am-<div>1:00 pm</div></td>

                    <!--Day 1-->
                    <td class="cell text-start">
                      <div>
                        <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>
                        <span class="margin-10px-top font-size14"> -> Room A</span>
                      </div>
                      <br>
                      <div>
                        <span class="bg-red padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Sport</span>
                        <span class="margin-10px-top font-size14"> -> Room B</span>
                      </div>
                    </td>

                    <!--Day 2-->
                    <td class="cell text-start">

                    </td>

                    <!--Day 3-->
                    <td class="cell text-start">
                        <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Art</span>

                    </td>

                    <!--Day 4-->
                    <td class="cell text-start">
                        <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Yoga</span>

                    </td>

                    <!--Day 5-->
                    <td class="cell text-start">
                        <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>

                    </td>

                    <!--Day 6-->
                    <td class="cell text-start">

                    </td>
                </tr>

                <!--LUNCH-->
                <tr>
                    <td class="align-middle header-column ">1:00pm-<div>3:00 pm</div></td>
                    <td>
                        LUNCH
                    </td>
                    <td>
                        LUNCH
                    </td>
                    <td>
                        LUNCH
                    </td>
                    <td>
                        LUNCH
                    </td>
                    <td>
                        LUNCH
                    </td>
                    <td>
                        LUNCH
                    </td>
                </tr>

                <!--3rd Timeslot-->
                <tr>
                    <td class="align-middle header-column ">3:00 pm-<div>4:30 pm</div></td>

                    <!--Day 1-->
                    <td class="cell text-start">
                      <div>
                        <span class="bg-darkblue padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Code</span>
                        <span class="margin-10px-top font-size14"> -> Room A</span>
                      </div>
                      <br>
                      <div>
                        <span class="bg-orange padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Books</span>
                        <span class="margin-10px-top font-size14"> -> Room B</span>
                      </div>
                    </td>

                    <!--Day 2-->
                    <td class="cell text-start">
                      <div>
                        <span class="bg-lila padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Pilates</span>
                        <span class="margin-10px-top font-size14"> -> Room A</span>
                      </div>
                      <br>
                      <div>
                        <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Art</span>
                      </div>
                    </td>

                    <!--Day 3-->
                    <td class="cell text-start">
                        <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Dance</span>

                    </td>

                    <!--Day 4-->
                    <td class="cell text-start">
                        <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>

                    </td>

                    <!--Day 5-->
                    <td class="cell text-start">

                    </td>

                    <!--Day 6-->
                    <td class="cell text-start">

                    </td>

                </tr>

                <!--4th Timeslot-->
                <tr>
                    <td class="align-middle header-column ">4:30pm-<div>6:00 pm</div></td>

                    <!--Day 1-->
                    <td class="cell text-start">
                      <div>
                        <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>
                      </div>
                      <br>
                      <div>
                        <span class="bg-darkgreen padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">French</span>
                      </div>
                    </td>

                    <!--Day 2-->
                    <td class="cell text-start">
                        <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>

                    </td>

                    <!--Day 3-->
                    <td class="cell text-start">

                    </td>

                    <!--Day 4-->
                    <td class="cell text-start">
                        <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>

                    </td>

                    <!--Day 5-->
                    <td class="cell text-start">
                        <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Yoga</span>

                    </td>

                    <!--Day 6-->
                    <td class="cell text-start">
                    </td>
                </tr>





            </tbody>
        </table>
    </div>
</div>
