<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<div class="container infos-container d-flex justify-content-center">
<button class = "btn btn-primary p-2 pt-3"><h3>CREATE SCHEDULE</h3></button>
</div>



<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container mt-5">
	<div class="row">

	  <div class="col-md-3">
      <div class="schedule-warp">
          <div class="day-one">DAY 1: June 21 Monday</div>
             <div class="schedule-card">
               <div class="insidebox">
                   <span class="schedule-tag">10:00-11:30</span>
                    <span class="schedule-start">Rehearsal</span>
               </div>
              </div>

              <div class="schedule-card">
               <div class="insidebox">
                   <span class="schedule-tag">11:30-13:00</span>
                   <span class="schedule-start">Rehearsal</span>
               </div>
              </div>

              <div class="schedule-card">
               <div class="insidebox">
                   <span class="schedule-tag">13:00-15:00</span>
                   <span class="schedule-start">Lunch</span>
               </div>
              </div>

              <div class="schedule-card">
               <div class="insidebox">
                   <span class="schedule-tag">15:00-16:30</span>
                    <span class="schedule-start"> Rehearsal </span>
               </div>
              </div>

              <div class="schedule-card">
               <div class="insidebox">
                   <span class="schedule-tag">16:30-18:00</span>
                   <span class="schedule-start">Rehearsal</span>
               </div>
              </div>

            </div>
          </div>



	  <div class="col-md-3">
      <div class="schedule-warp">
          <div class="day-one">DAY 2: June 22 Tuesday</div>
             <div class="schedule-card">
               <div class="insidebox">
                   <span class="schedule-tag">10:00-11:30</span>
                    <span class="schedule-start">Rehearsal</span>
               </div>
              </div>

              <div class="schedule-card">
               <div class="insidebox">
                   <span class="schedule-tag">11:30-13:00</span>
                   <span class="schedule-start">Rehearsal</span>
               </div>
              </div>

              <div class="schedule-card">
               <div class="insidebox">
                   <span class="schedule-tag">13:00-15:00</span>
                   <span class="schedule-start">Lunch</span>
               </div>
              </div>

              <div class="schedule-card">
               <div class="insidebox">
                   <span class="schedule-tag">15:00-16:30</span>
                    <span class="schedule-start"> Rehearsal </span>
               </div>
              </div>

              <div class="schedule-card">
               <div class="insidebox">
                   <span class="schedule-tag">16:30-18:00</span>
                   <span class="schedule-start">Rehearsal</span>
               </div>
              </div>

            </div>
          </div>

	  <div class="col-md-3">
      <div class="schedule-warp">
          <div class="day-one">DAY 3: June 23 Wednesday</div>
             <div class="schedule-card">
               <div class="insidebox">
                   <span class="schedule-tag">10:00-11:30</span>
                    <span class="schedule-start">Rehearsal</span>
               </div>
              </div>

              <div class="schedule-card">
               <div class="insidebox">
                   <span class="schedule-tag">11:30-13:00</span>
                   <span class="schedule-start">Rehearsal</span>
               </div>
              </div>

              <div class="schedule-card">
               <div class="insidebox">
                   <span class="schedule-tag">13:00-15:00</span>
                   <span class="schedule-start">Lunch</span>
               </div>
              </div>

              <div class="schedule-card">
               <div class="insidebox">
                   <span class="schedule-tag">15:00-16:30</span>
                    <span class="schedule-start"> Rehearsal </span>
               </div>
              </div>

              <div class="schedule-card">
               <div class="insidebox">
                   <span class="schedule-tag">16:30-18:00</span>
                   <span class="schedule-start">Rehearsal</span>
               </div>
              </div>

            </div>
          </div>



 	  <div class="col-md-3">
      <div class="schedule-warp">
          <div class="day-one">DAY 4: June 24 Thursday</div>
             <div class="schedule-card">
               <div class="insidebox">
                   <span class="schedule-tag">10:00-11:30</span>
                    <span class="schedule-start">Rehearsal</span>
               </div>
              </div>

              <div class="schedule-card">
               <div class="insidebox">
                   <span class="schedule-tag">11:30-13:00</span>
                   <span class="schedule-start">Rehearsal</span>
               </div>
              </div>

              <div class="schedule-card">
               <div class="insidebox">
                   <span class="schedule-tag">13:00-15:00</span>
                   <span class="schedule-start">Lunch</span>
               </div>
              </div>

              <div class="schedule-card">
               <div class="insidebox">
                   <span class="schedule-tag">15:00-16:30</span>
                    <span class="schedule-start"> Rehearsal </span>
               </div>
              </div>

              <div class="schedule-card">
               <div class="insidebox">
                   <span class="schedule-tag">16:30-18:00</span>
                   <span class="schedule-start">Rehearsal</span>
               </div>
              </div>

            </div>
          </div>

	</div>
</div>
