  <div class="container pt-4">
   <ul class="list-inline tabs-underlined">
      <li>
        <a href="#" class="tab-underlined active">Festival</a>
      </li>
      <li>
        <a href="#" class="tab-underlined">Musicians</a>
      </li>
      <li>
        <a href="#" class="tab-underlined">Groups</a>
      </li>
       <li>
        <a href="#" class="tab-underlined">Rooms</a>
      </li>
       <li>
        <a href="#" class="tab-underlined">Schedule</a>
      </li>
    </ul>
  </div>
