

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "banner_photo" %>);">
  <div class="container ps-4 pt-5">
    <h1>MusicChambers</h1>
    <p>Organize a chamber music festival efficiently!</p>
    <p>Coordinate rehearsal schedules and rooms without conflict</p>
  </div>
</div>
