

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= image_path "banner_photo.webp" %>);">
  <div class="container ps-4 pt-5">
    <h1>MusicChambers</h1>
    <br>
    <p>Organize chamber music festivals efficiently!</p>
    <p>Coordinate rehearsal schedules and rooms without conflict</p>
    <%= link_to  festivals_path do %>
      <button class= "btn btn-success mt-4 ">Start Now!</button>
    <% end %>
  </div>

</div>

<div class="container body">
  <h2 class="how">How it works:</h2>

  <div class="container cards home-cards p-5">

      <div class="card" >
        <i class="fa-solid fa-music"></i>
        <div class="card-body">
          <p class="card-text"> Start by adding your project.</p>
          <p><%= @hello_world %></p>
        </div>
      </div>

      <div class="card" >
        <i class="fa-regular fa-pen-to-square "></i>
        <div class="card-body">
          <p class="card-text">Customize your festival with musicians, groups, rooms and rehearsal times.</p>
        </div>
      </div>

      <div class="card" >
        <i class="fa-regular fa-calendar-check "></i>
        <div class="card-body">
          <p class="card-text"><strong>MusicChambers</strong> will make the optimal rehearsal schedule for your chamber music festival.</p>
        </div>
      </div>

  </div>


</div>
