<div class="header p-3">
    <div class="header-content d-flex flex-column">
      <div class="row">
        <div class="col-4" >
             <i class="fa-solid fa-house pe-2"></i><span>Room</span>
          </div>
          <div class="col-3">
            <i class="fa-solid fa-people-roof pe-2"></i><span>Capacity</span>
          </div>
          <div class="col-5">
            <i class="fa-solid fa-circle-exclamation pe-2"></i><span>Requirements</span>
          </div>
        </div>
    </div>

    <div class="header-actions">

      <a href=""></a>
      <a href=""></i></a>

    </div>
  </div>



<% @rooms.each do |room| %>

  <%= render "room_row", room: room %>

 <% end %>
