.header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: black;
  padding: 8px 16px;
  border: none;
  color:#e8e8e8
}

.header .header-content {

  flex-grow: 1;
  padding: 0 24px;
}

.header p {
  margin: 0;
  line-height: 1.4;
}

.header small {
  color: #999999;
  font-weight: bold;
}
.header .header-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.header:hover .header-actions {
  opacity: 1;
}

.header .header-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.header .header-actions a:hover {
  color: #555555;
}
