

.schedule-card {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border: 1px solid rgb(235,235,235);
}

.schedule-card h4 {
  text-align: center;
}

.header-row, .header-column {
  background-color: #c9c9c9 !important;
}

.cell {
  background-color: #ffffff !important;
}

.text-left {
  text-align: left !important;
}


.table-bordered thead td, .table-bordered thead th {
  border-bottom-width: 2px;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
  border: 1px solid #dee2e6;
}




.bg-orange {
  background-color: #e96c24
}

.bg-red {
  background-color: #b52424
}

.bg-green {
  background-color: #5bbd2a
}

.bg-darkgreen {
  background-color: #205604
}

.bg-yellow {
  background-color: #f0d001
}

.bg-pink {
  background-color: #ff48a4
}

.bg-purple {
  background-color: #762af2
}

.bg-darkblue{
  background-color: #183adf
}

.bg-sky {
  background-color: #02c2c7
}

.bg-lila {
  background-color: #c169e2
}





.padding-15px-lr {
  padding-left: 15px;
  padding-right: 15px;
}
.padding-5px-tb {
  padding-top: 5px;
  padding-bottom: 5px;
}
.margin-10px-bottom {
  margin-bottom: 10px;
}
.border-radius-5 {
  border-radius: 5px;
}

.margin-10px-top {
  margin-top: 10px;
}
.font-size14 {
  font-size: 14px;
}

.text-light-gray {
  color: #d6d5d5;
}
.font-size13 {
  font-size: 13px;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #dee2e6;
}
.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
