<div class="container form-container bg-white p-4 border">
  <h3>Add a Timeslot</h3>
    <div class= "pt-3">
      <%= simple_form_for([@festival, @timeslot]) do |f| %>
        <%= f.input :start_time %>
        <%= f.input :end_time %>
        <%= f.submit "Save", class: "btn btn-success" %>
      <% end %>
    </div>
</div>
